$theme-bg: hsl(0, 100%, 74%);
$theme-card-bg: hsl(0, 0%, 100%);
$theme-text-primary: hsl(0, 0%, 100%);
$theme-text-secondary: hsl(248, 32%, 49%);
$theme-text-secondary-hover: hsl(248, 32%, 55%);
$theme-form-input: hsl(249, 10%, 26%);
$theme-text-neutral: hsl(246, 25%, 77%);
$theme-bg-color: hsl(248, 32%, 49%);
$theme-accent: hsl(154, 59%, 51%);
$theme-accent-hover: hsl(154, 65%, 68%);
$theme-form-placeholder: hsla(248, 9%, 26%, 1);
